{% extends 'base.html' %}

{% block content %}

<header>
    <h1>Liste des Utilisateurs</h1>
    <a href="{% url 'user:ajouterUser' %}">
        <button class="add-button">Nouvel utilisateurs</button><br>

    </a>
    <a href="{% url 'dashboard:index' %}">
        <button>Retour</button>
    </a>

</header>

<div class="user-list-container">
    <h2>Utilisateurs</h2>
    <table>
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Date de Création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="user-list">
            {% for user in users %}
                <tr>
                    <td> {{ user.pseudo_name }} </td>
                    <td> {{ user.creat_at }} </td>
                    <td>
                        <a href="{% url 'user:modifierUser' user.id %}"><button class="save-button" >Update</button></a>
                        <a href="{% url 'user:suprimer' user.id %}"> <button class="delete-button" onclick="confirmDelete(1)">Remove</button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function logout() {
        // Implémentez la logique de déconnexion ici
        alert('Déconnexion effectuée !');
    }

    function confirmDelete(id) {
        const confirmation = confirm('Êtes-vous sûr de vouloir supprimer ce professeur ?');
        if (confirmation) {
            // Si l'utilisateur confirme la suppression
            alert('Professeur avec ID ' + id + ' supprimé.');
            
            // Suppression de la ligne du tableau correspondante
            const row = document.getElementById('prof-' + id);
            row.remove();
        }
    }
</script>
{% endblock %}
